<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Materialize CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="light-purple darken-2">
        <div class="nav-wrapper"></div>
      </nav>
      ​
      <div class="container">
        <div class="section">
          <!--   Icon Section   -->
          <div class="row">
            <!-- card de tarefa que repete para cada item do array -->
            <div v-for="tarefa in tasks" class="card horizontal">
              <div class="card-stacked">
                <div class="simbolos">
                  <i
                    class="fa-solid fa-pen-to-square editar"
                    @click="editar(tarefa.id)"
                  ></i>
                  <i
                    class="fa-solid fa-trash lixo"
                    @click="deletar(tarefa.id)"
                  ></i>
                </div>
                <div class="card-content">
                  <p>{{ tarefa.title }}</p>
                  <span class="projeto">{{ tarefa.project }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add">
          <a
            class="btn-floating btn-large waves-effect waves-light pink"
            @click="showModal()"
            onclick="document.querySelector('.modalNovaTask').style.display = 'flex'"
            id="ligarModal"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
      </div>
      <div class="modalNovaTask">
        <div class="conteudo">
          <span class="close">&times;</span>
          <div class="newTask">
            <h4>Nova Tarefa</h4>
            <form action="">
              <div class="input-field col s12">
                <input
                  placeholder="Title"
                  id="title"
                  type="text"
                  class="validate"
                  required
                  v-model="titulo"
                />
                <label for="title">Title</label>
              </div>
              <div class="input-field col s12">
                <div>
                  <label for="project">&nbsp &nbsp Pick a Project</label>
                </div>
                <select style="display: block" id="project" v-model="projeto">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="Estudos">Estudos</option>
                  <option value="Financeiro">Financeiro</option>
                  <option value="Trabalho">Trabalho</option>
                </select>
              </div>
              <div class="input-field col s12">
                <input
                  type="date"
                  class="datepicker"
                  id="dueTo"
                  v-model="dataDia"
                />
                <label for="dueTo">Date due to</label>
              </div>
            </form>
            <!-- <input type="text" /> -->
            <div class="botoes">
              <button class="adicionar" @click="addTasks">Adicionar</button>
              <button
                class="cancelar"
                onclick="document.querySelector('.modalNovaTask').style.display = 'none'"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
      ​
      <footer class="page-footer light-purple darken-3">
        <div class="footer-copyright">
          <div class="container">© 2022 Frontend</div>
        </div>
      </footer>
    </div>
    <!-- app -->
    ​
    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    ​
    <script src="./todo.js"></script>
  </body>
</html>
